@import './fonts.css';

:root {
  --citron: hsl(68, 90%, 55%);
  /* --blue: rgb(0, 85, 255); */
  /* --blue: rgb(26, 159, 254); FAV BLUE */
  --blue: rgb(216, 201, 249);
  --bright-pink: #f735d7;
}

h1 {
  font-family: 'Nabla', cursive;
  color: hsl(68, 90%, 55%);
  font-size: 4rem;
  margin-bottom: 5px;
  text-align: center;
  text-shadow: 2px 2px 2px black;
  margin-top: 2rem;
}

h2 {
  text-align: center;
  font-size: 2rem;
}

body {
  background-color: var(--blue);
  font-family: 'Martel', serif;
  color: white;
  margin-left: 3rem;
  margin-right: 3rem;
  height: 100vh;
  /* -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale; */
}

/* form */
.new-job-form {
  position: relative;
  padding: 2rem;
  background: var(--citron);
  border-radius: 10px;
  border: 2px solid #000;
  margin-left: 20rem;
  margin-right: 20rem;
}
form {
  padding-top: 1rem;
  padding-bottom: 5rem;
}
.new-job-form h2 {
  font-size: 2em;
  padding: 1rem;
  color: #000;
  font-weight: bold;
  padding-left: 3rem;
  padding-right: 3rem;
}
.new-job-form .inputbox {
  position: relative;
  width: 100%;
  height: 1rem;
  margin-bottom: 5rem;
  color: black;
}

.new-job-form .inputbox input {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  border: 2px solid #000;
  outline: none;
  background: white;
  padding: 15px;
  border-radius: 10px;
  font-size: 1.2em;
  font-family: sans-serif;
}

.new-job-form .inputbox-fixed {
  position: relative;
  width: 100%;
  height: 1rem;
  margin-bottom: 5rem;
  color: black;
}

.new-job-form .inputbox-fixed input {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  border: 2px solid #000;
  outline: none;
  background: white;
  padding: 10px;
  border-radius: 10px;
  font-size: 1em;
}

.new-job-form .inputbox-fixed select {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  border: 2px solid #000;
  outline: none;
  background: white;
  padding: 10px;
  border-radius: 10px;
  font-size: 1em;
}

.new-job-form .inputbox:last-child {
  margin-bottom: 0;
}

.new-job-form label {
  color: black;
}

.new-job-form .inputbox span {
  position: absolute;
  top: 5px;
  left: 20px;
  font-size: 1em;
  transition: 0.6s;
}
.new-job-form .inputbox input:focus ~ span,
.new-job-form .inputbox input:valid ~ span {
  transform: translateX(-17px) translateY(-31px);
  font-size: 1em;
}
.new-job-form .inputbox button {
  width: 30%;
  height: 2rem;
  background: var(--bright-pink);
  color: #fff;
  border: 2px solid #000;
  border-radius: 10px;
  font-size: 1em;
  font-weight: bold;
}
.new-job-form .inputbox:hover button {
  background: rgb(26, 159, 254);
}

/*end form*/

.assign-freelancer-list {
  color: black;
}

.nav-buttons {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  align-content: flex-end;
  padding: 2rem;
}

.home {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
}

.nav-button {
  font-family: 'Fontdiner Swanky', cursive;
  font-weight: 600;
  border: solid 2px black;
  outline: 0;
  padding: 1rem 4rem;
  font-size: 1rem;
  letter-spacing: 0.08rem;
  background-color: white;
  border-radius: 0.35rem;
  position: relative;
  cursor: pointer;
  margin-left: 1rem;
  margin-bottom: 1rem;
}
button::after {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: #f735d7;
  z-index: -1;
  border-radius: 0.35rem;
  border: solid 2px black;
  transition: all 0.3s ease-in-out;
}
button.style-1::after {
  width: 90%;
  height: 90%;
}
button.style-1:hover::after {
  width: 100%;
  height: 100%;
  top: 0.5rem;
  left: 0.5rem;
}

/* word animation */
*,
*:before,
*:after{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Martel', serif; 
}

.wrapper{
    box-sizing: content-box;
    background-color: var(--blue);
    height: 60px;
    padding: 50px;
    display: flex;
    border-radius: 8px;
    text-shadow: 1px 1px 1px black;
}
.words{
    overflow: hidden;
    text-align: center;
}

.words > span{
    display: block;
    height: 100%;
    margin-top: 2px;
    padding-left: 10px;
    padding-right: 10px;
    padding-bottom: 50px;
    color: var(--citron);
    animation: spin_words 10s infinite;
    font-family: 'Fontdiner Swanky', cursive;
    font-size: 2rem;
}
@keyframes spin_words{
    10%{
        transform: translateY(-112%);
    }
    25%{
        transform: translateY(-100%);
    }
    35%{
        transform: translateY(-212%);
    }
    50%{
        transform: translateY(-200%);
    }
    60%{
        transform: translateY(-312%);
    }
    75%{
        transform: translateY(-300%);
    }
    85%{
        transform: translateY(-412%);
    }
    100%{
        transform: translateY(-400%);
    }
}

/* freelancer cards start*/

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

h3 {
  font-size: 1.5em;
  font-weight: 700;
  color: black;
}

p {
  font-size: 1em;
  line-height: 1.7;
  font-weight: 300;
  color: gray;
}

.description {
  white-space: wrap;
}

a {
  text-decoration: none;
  color: inherit;
}

.wrap {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  align-items: stretch;
  width: 100%;
  gap: 24px;
  padding: 1rem;
}

.box {
  display: flex;
  flex-direction: column;
  flex-basis: 100%;
  position: relative;
  padding: 24px;
  background: white;
  max-width: 500px;
  border: solid 2px black;
  border-radius: 0.35rem;
}

.box-top {
  display: flex;
  flex-direction: column;
  position: relative;
  gap: 12px;
  margin-bottom: 36px;
}

.box-image {
  width: 100%;
  height: 360px;
  object-fit: cover;
  object-position: 50% 20%;
}

.title-flex {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.box-title {
  border-left: 3px solid var(--citron);
  padding-left: 12px;
}

.user-follow-info {
  color: hsl(0, 0%, 60%);
}

.freelancer-button-green {
  display: block;
  justify-content: center;
  align-items: center;
  text-align: center;
  margin-top: auto;
  padding: 16px;
  color: #000;
  background: var(--citron);
  border: solid 2px black;
  border-radius: 0.35rem;

}

/* .freelancer-button-red {
  display: block;
  justify-content: center;
  align-items: center;
  text-align: center;
  margin-top: auto;
  padding: 16px;
  color: #000;
  background: var(--bright-pink);
  box-shadow: 0px 0px 0px 1px black inset;
  transition: background 0.4s ease;
} */

.button:hover {
  background: var(--bright-pink);
}

.fill-one {
  background: white;
}

.fill-two {
  background: white;
}

/* RESPONSIVE QUERIES */

@media (min-width: 320px) {
  .title-flex {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
  }
  .user-follow-info {
    margin-top: 6px;
  }
}

@media (min-width: 460px) {
  .title-flex {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-start;
  }
  .user-follow-info {
    margin-top: 6px;
  }
}

@media (min-width: 640px) {
  .box {
    flex-basis: calc(50% - 12px);
  }
  .title-flex {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
  }
  .user-follow-info {
    margin-top: 6px;
  }
}

@media (min-width: 840px) {
  .title-flex {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-start;
  }
  .user-follow-info {
    margin-top: 6px;
  }
}

@media (min-width: 1024px) {
  .box {
    flex-basis: calc(33.3% - 16px);
  }
  .title-flex {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
  }
  .user-follow-info {
    margin-top: 6px;
  }
}

@media (min-width: 1100px) {
  .box {
    flex-basis: calc(25% - 18px);
  }
}

/* freelancer card end */

/* job card start */

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

h3 {
  font-size: 1.5em;
  font-weight: 700;
  color: black;
}

p {
  font-size: 1em;
  line-height: 1.7;
  font-weight: 300;
  color: gray;
}

.job-description {
  white-space: wrap;
}

a {
  text-decoration: none;
  color: inherit;
}

.job-wrap {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  align-items: stretch;
  width: 100%;
  gap: 24px;
  padding: 1rem;
}

.job-box {
  display: flex;
  flex-direction: column;
  flex-basis: 100%;
  position: relative;
  padding: 24px;
  background: #fff;
  max-width: 500px;
  border: solid 2px black;
  border-radius: 0.35rem;
}

.job-box-top {
  display: flex;
  flex-direction: column;
  position: relative;
  gap: 12px;
  margin-bottom: 36px;
}

.job-box-image {
  width: 100%;
  height: 360px;
  object-fit: cover;
  object-position: 50% 20%;
}

.job-title-flex {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.job-box-title {
  border-left: 3px solid var(--citron);
  padding-left: 12px;
}

.company {
  color: hsl(0, 0%, 60%);
}

.delete-button {
  display: block;
  justify-content: center;
  align-items: center;
  text-align: center;
  margin-top: auto;
  padding: 5px;
  border-radius: 10px;
  color: #000;
  background: transparent;
  transition: background 0.4s ease;
}

.job-buttons-container {
  display: flex;
  flex-direction:row;
  justify-content: center;
  padding: 5px;
  margin: 5px;
  gap: 2rem;
}

.delete-button:hover {
  background: var(--bright-pink);
}

.fill-one {
  background: white;
}

.fill-two {
  background: white;
}

.job-button {
  display: block;
  justify-content: center;
  align-items: center;
  text-align: center;
  margin-top: auto;
  padding: 16px;
  color: #000;
  background: var(--citron);
  border: solid 2px black;
  border-radius: 0.35rem;
}

/* RESPONSIVE QUERIES */

@media (min-width: 320px) {
  .job-title-flex {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
  }
  .company {
    margin-top: 6px;
  }
}

@media (min-width: 460px) {
  .job-title-flex {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-start;
  }
  .company {
    margin-top: 6px;
  }
}

@media (min-width: 640px) {
  .job-box {
    flex-basis: calc(50% - 12px);
  }
  .job-title-flex {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
  }
  .company {
    margin-top: 6px;
  }
}

@media (min-width: 840px) {
  .job-title-flex {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-start;
  }
  .company {
    margin-top: 6px;
  }
}

@media (min-width: 1024px) {
  .job-box {
    flex-basis: calc(33.3% - 16px);
  }
  .job-title-flex {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
  }
  .company {
    margin-top: 6px;
  }
}

@media (min-width: 1100px) {
  .job-box {
    flex-basis: calc(25% - 18px);
  }
}

/* job card end */

/*job page*/



/* assign freelancer list */
.assign-freelancer-box {
  display: flex;
  flex-direction: column;
  align-items: center;
  flex-basis: 100%;
  position: relative;
  padding: 1rem;
  max-width: 500px;
}

.assign-freelancer-list-item {
  padding: 1rem;
  color: black;
  font-size: 1em;
}

.assign-freelancer-list-item button {
  font-family: 'Fontdiner Swanky', cursive;
  font-weight: 100;
  border: solid 2px black;
  outline: 0;
  padding: 5px;
  margin-left: 10px;
  font-size: .7rem;
  letter-spacing: 0.08rem;
  background-color: white;
  border-radius: 0.35rem;
  position: relative;
  cursor: pointer;
  background-color: var(--citron);
}

.freelancer-list-container {
  border: solid 2px black;
  border-radius: 0.35rem;
  background-color: white;
}
